<configuration>
	<configSections>
		<section name="DatabaseConfiguration" type="__NAME__.Mongo.DatabaseFactory.DatabaseConfiguration, __NAME__.Mongo.DatabaseFactory, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
		<section name="BusConfiguration" type="__NAME__.BusConfiguration, __NAME__, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
	</configSections>
	<runtime>
		<gcServer enabled="true"/>
	</runtime>
	<connectionStrings>
		<clear/>
		<add name="MongoDbConnection" connectionString="" />
	</connectionStrings>
	<DatabaseConfiguration Name="MongoDb.Connection.Dev" DatabaseName="__NAME__" IsSSL="false" ConnectionStringName="MongoDbConnection"/>
	<BusConfiguration IsEnabled="true" HostAddress=""  VirtualHost="/" Username="" Password="" QueueName="__NAME__" />
</configuration>
